@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins;
}

html{
    scroll-behavior: smooth;
}

#mains{
    width: 100%;
    height: 310vh;
}

img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.fa-hand-point-left{
    font-size: 35px;
    padding: 5%;
    color: black;
}

.ilaws{
    float: right;
    margin-right: 10%;
    margin-top: -12%;
}

.ilaw{
    display: none;
    color: white;
    float: right;
    margin-right: 10%;
    margin-top: -12%;
}

#pepe{
    font-size: 35px;
    margin-right: auto;
    margin-left: auto;
    color: black;
    margin-left: 45%;
    padding-top: 10%;
    text-decoration: none;
}