@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: poppins;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.img{
    display: none;
}

img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

h1{
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    text-align: center;
    margin-top: 5%;
}

@media screen and (min-width: 1024px) {

    .img{
        display: block;
    }      

    img{
        margin-top: 5%;
        width: 20%;
    }

    h1{
        margin-top: 5%;
    }

    a{
        width: 10%;
        border-radius: 2rem;
    }
}

@media screen and (min-width: 768px){
    .img{
        display: block;
    }

    img{
        margin-top: 20%;
        width: 40%;
    }

    h1{
        margin-top: 5%;
        font-size: 65px;
    }

    a{
        width: 50%;
        font-size: 25px;
        border-radius: 2rem;
    }
}