@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: poppins;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

main .welcome img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50%;
}

main .welcome h1{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}

main .welcome button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    margin-top: 5%;
    font-size: 15px;
    display: block;
}