@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins;
}

main{
    height: 100vh;
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

.main-div{
    width: 100%;
    height: 100vh;
}

body{
    background-color: black;
    height: 100vh;
    width: 100%;
}

.back i{
    color: white;
    padding: 5%;
    font-size: 25px;
}

.background i{
    color: black;
    float: right;
    font-size: 25px;
    margin-top: 5%;
    margin-right: 80%;
}
 
.fa-bars{
    color: white;
    font-size: 25px;
    float: right;
    margin-right: 5%;
    margin-top: -10%;
}

.inside-menu{
    background-color: white;
    position: absolute;
    width: 250px;
    height: 40vh;
    border-radius: 0.5rem;
    margin-top: -10%;
    float: right;
    right: 0;
    top: 0;
    transition: 1.5s;
    transform: translateY(-250px);
    opacity: 0;
}

.show{
    transform: translateX(0);
    opacity: 100;
}

.menubar .fa-xing{
    margin-top: 20%;
    color: black;
}

.inside-menu a{
    text-decoration: none;
    color: black;
    position: absolute;
}

.inside-menu  .contact{
    margin-right: auto;
    margin-left: 10%;
    margin-top: 40%;
    text-align: center;
    position: absolute;
}

.inside-menu .tshirt{
    margin-top: 60%;
    margin-right: auto;
    margin-left: 10%;
    text-align: center;
}

.inside-menu .design{
    margin-top: 80%;
    margin-right: auto;
    margin-left: 10%;
    text-align: center;
}

.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 20%;
    transition: 1.5s;
    transform: translateY(-200px);
    opacity: 0;
    filter: blur(5px);
}

.image{
    transform: translateY(0);
    opacity: 100;
    filter: blur(0);
}

.image{
    width: 50%;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-150px);
    transition: 2.5s;
    filter: blur(5px);
    opacity: 0;
}

.drop{
    transform: translateY(0);
    filter: blur(0);
    opacity: 100;
}

.button1{
    margin-top: 10%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: none;
    border: none;
    background-color: deepskyblue;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
}

.learn{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
    outline: none;
    border: none;
    background-color: red;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    color: black;
}

.browse{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(255, 0, 200);
    margin-top: 5%;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.browse:hover{
    background-color: red;
    transition: 0.5s;
}

.button1:hover{
    background-color: rgb(255, 0, 200);
    transition: 0.5s;
}

.learn:hover{
    background-color: rgb(255, 0, 200);
    transition: 0.5s;
}

/*   second layer   */
.designs{
    width: 100%;
    height: 110vh;
    background-color: black;
}

.inside-design .welcome{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    color: white;
    transform: translateY(-100px);
    opacity: 0;
    filter: blur(5px);
    transition: all 0.5s;
}

.inside-design .welcomes{
    transition: 1.5s;
    opacity: 100;
    transform: translateY(0);
    filter: blur(0);   
}

.inside-design{
    padding: 5%;
}

.inside-design img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5%;
}

.inside-design a{
    text-align: center;
    color: white;
    background-color: black;
    padding: 2% 2% 2% 2%;
    border-radius: 0.5rem;
    position: absolute;
    margin-top: 5%;
    margin-left: 30%;
    text-decoration: none;
}